
html{
    font-size: 62.5%;
  }
  
  p{
      font-size: xx-large;
  }
  
  body{
      margin: 0.1px;
      font-family: Arial, Helvetica, sans-serif;
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: rgb(255, 236, 253);
  }

  hr{
    width: 70%;
    background-color:rgba(255, 255, 255, 0.712);
  }
  
  .wrapper {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content:center;
    transition: 1s;
  }
  
  .content{
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .content p{
    font-size: large;
  }
  
  .logo-img{
      float: left;
      position: relative;
      margin-right: 15px;
  }
  
  nav {
    display: flex;
    width: 90%;
    position: fixed;
    padding: 40px 80px 20px 80px;
    background-color: black;
    margin-top: 0px;
    z-index: 1;
  }
  
  ul li a {
    margin-left: 1.5em;
    font-size: 25px;
  }
  
  a.logo {
    margin-right: auto;
    font-size: 25px;
  
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    font-size: 1.25em;
  }
  
  a::after {
    content:"";
    top: 80%;
    border-bottom: 2px solid #F8E71C;
    transition: all 0.35s;
    position: absolute;
  }
  
  a:hover::after {
    transition: all 0.35s;
  }
  
  a::after {
    right: 50%;
    left: 50%;
  }
  
  
  @media (max-width: 1024px) {
    .wrapper {
      height: auto;
    }
    
    nav {
      flex-direction: column;
      align-items: center;
    }
    
    a.logo {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      margin-right: 0px;
    }
    
    ul {
      width: 100%;
      margin-bottom: 1em;
      justify-content: space-between;
    }
    
    ul li a {
      margin-left: 0px;
    }
  }
  
  @media (max-width: 768px) {
    a.logo {
      margin: 1.5em;
    }
    
    ul {
      flex-direction: column;
    }
    
    ul li {
      margin: 0.3em;
      text-align: center;
    }
    
    ul li a {
      margin-left: 0px;
    }
  }

.container{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template: repeat(1,600px)/repeat(2,600px);
    margin-top: 40px;
    margin-bottom: 40px;
}

.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btncontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btncontainer h2{
    position:absolute;
    margin-bottom: 450px;
    font-size: xx-large;
    margin-left: 80px;
}

.btnscl1{
    margin-left: 100px;
    margin-right: 40px;
}

.btcnscl2{
    margin-left: 100px;
}

.btns a{
    display: block;
    text-decoration: none;
    margin-top: 30px;
}

.btns button{
    width: 200px;
    padding: 15px 25px 15px 25px;
    background-color: black;
    color: rgb(255, 236, 253);
    border-radius: 3px;
    border: 1px solid rgb(255, 236, 253) ;
    cursor: pointer;
}

.btns button:hover{
    background-color: rgb(255, 236, 253) ;
    color: black;
    border:1.5px solid black;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 280px;
    margin-right: 280px;
  }
  
  .input , .Message{
    width: 580px;
    height: 60px;
    display: block;
    border: none;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .btn{
    width: 150px;
    padding: 10px 20px 10px 20px;
    background-color: black;
    color: rgb(255, 236, 253);
    border-radius: 5px;
    margin-top: 20px;
    font-size: large;
    margin-bottom: 10px;
    border: 1px solid rgb(255, 236, 253) ;
    margin-left: 230px;
  }
  
  .input:focus,.Message:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 20px rgb(138, 137, 137);
    background-color: rgba(255, 255, 255, 0.957);
  }

  .btn:hover{
    background-color: rgb(255, 236, 253) ;
    color: black;
    border:1.5px solid black;
    box-shadow: 0 0 20px rgb(138, 137, 137);
  }  

/* 888888888888888888888888888 mustfollow page starts 888888888888888888888888888 */


  .handlecontainer h2{
    font-size: x-large;
    text-align: center;
  }

  .imgandcontent{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template: repeat(1,400px)/repeat(2,500px);
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .imgandcontent img{
    width: 400px;
    border-radius: 250px;
    box-shadow: #f10505;
  }

  .profiles{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.profiles a{
    color: black;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 120px;
}

.profiles h2{
    position: absolute;
    margin-bottom: 80px;
}

.profiles p{
    position: absolute;
    font-size: medium;
    margin-top: 290px;
}

.fa-twitter{
    color:rgb(29 161 242);
}

.fa-facebook{
    color: rgb(66 103 178);
}

.fa-instagram{
    color: rgb(193 53 132);
}

.fa-youtube{
    color: rgb(255 0 0);
}

.fa-brands:hover{
    color: black;
}