html{
    font-size: 62.5%;
  }
  
  p{
      font-size: large;
      text-align: center;
  }
  
h1{
    text-align: center;
    font-size: xx-large;
}

h2{
    text-align: center;
    font-size: x-large;
}

  body{
      margin: 0.1px;
      font-family: Arial, Helvetica, sans-serif;
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: rgb(255, 236, 253);
  }

.embeedVideo{
    text-align: center;
}

.feed{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tweet{
    width: 20%;
    margin-left: 30px;
}

.wrapper {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content:center;
    transition: 1s;
  }

.nav {
    display: flex;
    width: 90%;
    position: fixed;
    padding: 40px 80px 20px 80px;
    background-color: black;
    margin-top: 0px;
    z-index: 1;
  }
  
  ul li a {
    margin-left: 1.5em;
    font-size: 25px;
  }
